
 <div class="row justify-content-center mt-5">
     <div class="col-12 col-md-6 bg-dark rounded">
        <div class="card">
            <div class="card-header text-center">
              <h4>About us</h4>
            </div>

            <div class="card-body">
              <h5 class="card-title mb-3"> We Teach and Tutor Courses Online </h5>
              <p class="card-text">Brodemy is optimized for learning, testing, and training. Examples might be 
                simplified to improve reading and basic understanding to advance and pro developers. Tutorials, references, and examples are 
                constantly reviewed to avoid errors, and we ensure the full correctness of all content. 
            </p>
            </div>
            
            <div class="card-body">
                <h5>Contact us</h5>
                    <ul>
                        <li>Email: gabriel_deguzman@gmail.com</li>
                        <li>Contact Number: 09122333444</li>
                    </ul>
            </div>
    
          </div>
    </div>
</div>
